.c-menu {
  display: flex;
  justify-content: space-between;
  margin: 48px;

  &__link {
    font-size: 24px;
    font-family: Arial;
    text-transform: none;
    margin: 24px;
    padding: 24px;
    min-width: 24rem;
    text-align: center
  }

  &__logo{
    width: 60px;
    height: 60px;
  }
}
